.navbar-inverse {
  background-color: #73000a;
  border-color: #000000;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #FFFFFF;
  background-color: none;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  color: #bfbfbf;
  background-color: none;
}

