.navbar-inverse {
  background-color: #73000a;
  border-color: #000000;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #FFFFFF;
  background-color: none;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
  color: #bfbfbf;
  background-color: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-toggle:focus, .navbar-toggle:hover, .navbar-inverse .navbar-collapse {
  border-color: #FFFFFF;
  background-color: #73000a !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #000000;
}

div.chart-title {
  font-size: 20px;
}

.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:active {
  font-size: 18px !important;
}
